@page "{id:int}"
@model BudgetBuddy2.Pages.AccountModel
@{
    ViewData["Title"] = "Account";
}

<form method="POST">
    <h2>Account: <input class="title_input hidden_border" asp-for="Account.Name" /> </h2>
    <div>
        <input asp-for="Account.Id" type="hidden" />
        <label asp-for="Account.Description" />
    </div>
    <div>
        <input asp-for="Account.Description" />
        <label asp-for="Account.Balance" />
    </div>
    <div>
        <input asp-for="Account.Balance" />
        <label asp-for="Account.LastImportDate" />
    </div>
    <div>@Model.Account.LastImportDate</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="table_header">Date</th>
                <th class="table_header">Description</th>
                <th class="table_header_number">Amount</th>
                <th class="table_header">Reconcile</th>
            </tr>
        </thead>
        <tbody>
            @for (int a = 0; a < Model.Account.Details.Count; a++)
            {
                <tr class="actual_data">
                    <td class="row_data"><div>@Model.Account.Details[a].Date</div></td>
                    <td class="row_data"><div>@Model.Account.Details[a].Description</div></td>
                    <td class="row_data_number"><div>@Model.Account.Details[a].Amount</div></td>
                    <td class="row_data"><div>@Model.Account.Details[a].Reconciled</div></td>
                </tr>
            }
        </tbody>
    </table>
    <p></p>
    <button type="submit" asp-page-handler="SaveChanges">Save changes</button>
    @if (Model.Account.Id > 0)
    {
        <button type="submit" asp-page="ImportDetail" asp-route-id="@Model.Account.Id">Import details...</button>
    }
</form>

